body {
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    color: #fff;
    background-color: #333030;
    text-align: center;
    font-size: 40px;
  
    padding: 0;
    margin: 0;
}
  
h2 {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
#header-container {
    -webkit-app-region: drag;
  
    width: auto;
    height: 24px;
  
    margin: 0;
    padding: 6px;
  
    font-size: 16px;
    background: rgba(0, 0, 0, 0.2);
}
  
.header-button {
    -webkit-app-region: no-drag;
  
    transform: scale(1.0, 1.0);
    cursor: pointer;
  
    line-height: 24px;
    font-size: 18px;
  
    transition: transform 0.25s;
}

.header-button:hover {
    transform: scale(1.5, 1.5);
  }
  
#header-button-container {
    float: right;
}